.contato {
    background-color: rgba(255, 74, 87, 1);
}

.formulario {
    display: block;
    width: 600px;
    margin: 0% 2%;
    margin-top: 1%;
    padding: 5px 20%;

}

input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border-radius: 5px;
    border: none;
}

textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border-radius: 5px;
    border: none;
}

.botaoEnviar {
    display: block;
    width: 100%;
    padding: 4px;
    margin-top: 6px;
    border-radius: 5px;
    border: solid 2px rgb(255, 255, 255);
    background-color: rgba(25, 26, 44, 1);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.botaoEnviar:hover {
    box-shadow: 2px 2px 7px 2px;
    text-decoration: underline;
    color: rgba(172, 150, 199, 0.831);
}


.sucesso {
    display: none;
    border: solid 2px black;
    width: 598px;
    margin: 0% 22%;
    border-radius: 10px;
    padding: 5px;
    color: rgb(255, 255, 255);
    margin-top: 6px;
    
}

h2,
h3 {
    text-align: center;
}

span {
    padding: 0px 25px;
    font-weight: bold
}

.msgSucesso {
    display: none;
    width: 600px;
    margin-left: 351px;
    border-radius: 5px;
    border: solid 2px rgb(255, 255, 255);
    text-align: center;
    background-color: rgba(66, 134, 34, 1);
    color: rgb(255, 255, 255);
    padding: 5px;
}

.corpoContato {
    height: 700px;
}
* {
    box-sizing: content-box;
}
