.home {
    background-color: rgba(255, 74, 87, 1);
}

.meuNome,
.paragrafo {
    margin: 0px;
    margin-top: 20px;
}

.linkedin,
.facebook,
.twitter,
.instagram {
    border: solid 1px rgb(255, 81, 0);
    border-radius: 50%;
    display: inline-block;
    margin: 8px;
    text-align: center;
    padding: 08px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.linkedin:hover {
    box-shadow: 2px 2px 7px 2px;
    text-decoration: underline;
    color: rgba(172, 150, 199, 0.831);
}

.informacoes {
    margin: 27px;
    width: 400px;
    height: 500px;
    color: rgb(255, 255, 255);
}

ul {
    margin: 0px;
}

.borderImg {
    display: inline-block;
    width: 150px;
    height: 180px;
    rotate: 7deg;
    padding: 10%;
    background-color: rgb(194, 220, 243);
    text-align: center;
}

.minhaFoto {
    width: 100%;
    height: 100%;
    rotate: -4deg;
    text-align: center;
}